/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-md shadow-md border-gray-400 border bg-transparent font-medium text-center text-lg text-gray-700 leading-snug transition py-3 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary-600 text-white border-primary-600 hover:bg-primary-800 hover:border-primary-800 hover:text-white dark:text-white dark:bg-primary-700 dark:border-primary-700 dark:hover:border-primary-900 dark:hover:bg-primary-900;
  }

  [data-aw-toggle-menu] path {
    @apply transition;
  }
  [data-aw-toggle-menu].expanded g > path:first-child {
    @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
  }

  [data-aw-toggle-menu].expanded g > path:last-child {
    @apply rotate-45 translate-y-[-8px] translate-x-[14px];
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.hero-grid {
  display: grid;
  grid-template-columns: 31% 68%;
  grid-column-gap: 4%;
}

@media (max-width: 750px) {
  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10%;
    grid-template-rows: 200px 200px;
  }
}

.hero-gradient {
  filter: contrast(140%) brightness(100%);
  background: linear-gradient(
      0deg,
      rgba(218, 169, 131, 1),
      rgba(228, 234, 170, 0.46)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 167 167' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.89' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.bar {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dark-gradient {
  width: 250px;
  height: 250px;
  filter: contrast(180%) brightness(100%);
  background: linear-gradient(
      295deg,
      rgba(4, 4, 18, 1),
      rgba(70, 74, 119, 0.38)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 314 314' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.35' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

h1 {
  font-family: 'fits', serif;
  font-weight: 100;
  font-size: 11vw;
  font-variation-settings: 'wdth' 100;
  transition: all 0.4s ease-in-out;
}
h1:hover,
h1.be-bold {
  font-variation-settings: 'wdth' 200;
}

@media screen and (min-width: 2100px) {
  h1 {
    font-size: 8vw;
  }
}

@font-face {
  font-family: 'fits';
  src: url('../fonts/fits.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'mits';
  src: url('../fonts/mits.ttf') format('truetype');
  font-weight: 100;
}

.name-display {
  font-family: 'mits', serif;
  font-size: 1rem;
}

.small-heading {
  font-family: 'mits', serif;
  font-size: 0.8rem;
}

.fancy-button {
  padding: 20px 60px;
  border-radius: 50px;
  background-color: #3c3b3b;
  -webkit-transition: padding 250ms ease-in-out;
  transition: padding 250ms ease-in-out;
  font-family: 'mits', sans-serif;
  color: #ece7e1;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
}

.fancy-button:hover {
  padding-right: 100px;
  padding-left: 100px;
  text-decoration: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

html,
body,
main {
  height: 100%;
}
